				<div id="gnbWrap">	
					<div id="gnb">
						<ul class="menu">
							<li><a href="#">게시판</a>
								<ul class="sub">
									<li><a href="/board/">공지사항</a></li>
								</ul>
								<ul class="sub">
									<li><a href="/board/">자유게시판</a></li>
								</ul>
							</li>
						</ul>
					 </div>	
			 	</div>	