			<div id="lnbWrap">
				<div id="lnb_title">
					<h2>게시판</h2>
				</div>			
				<ul id="lnb">
					<li class="on"><a href="/board/">공지사항</a></li>
					<li ><a href="/board/">자유게시판</a></li>
				</ul>
			</div>